body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-2-calculadora-certa.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 90vh;
  }
  
  .page-title {
    color: #000000;
    text-align: center;
    margin: 0 0 5px;
  }
  
  .page-logo {
    width: 300px;
    margin-top: 200px;
  }
  
  .calculadora {
    position: absolute;
    background-color: #ffffff;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px; 
  }

  #resultado {
    background-color:#000000;
    width: 222px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: #ffffff;
    text-align: right;
    padding: 5px;
  }

  .keyboard {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color:#ffffff;
  }

  .keyboard:hover {
    background-color: #000000;
  }
  
  .alura-logo {
    width: 60px;
    position: absolute;
    top: 30px;
    right:30px;
  }

footer { 
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}
